.speed {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.batt {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body {
  background-color: #211535;
}
